@page "/"
@using SolarSystem.Common.Models.Planets
@inject HttpClient Http

<h1>Planets of the Solar System</h1>
@if (_getPlanetsModel == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>
        Some facts and figures on all the planets in the solar system in a
        Blazor app.
    </p>
    <h2>Todo</h2>
    <ul>
        <li>Style planet details page</li>
        <li>Fix height of planet cards</li>
        <li>Style form component</li>
    </ul>
    <div class="container-fluid">
        <div class="row">

            @foreach (var planet in _getPlanetsModel.Planets)
            {
                <div class="col-sm-3">
                    <a href="Planet/@planet.Name">
                        <div class="card-deck">
                            <PlanetCard Planet="@planet"/>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
}

@code {
    private GetPlanetsModel _getPlanetsModel;

    protected override async Task OnInitializedAsync()
    {
        _getPlanetsModel = await Http.GetFromJsonAsync<GetPlanetsModel>("api/v1/planets");
    }
}