@page "/"
@using SolarSystem.Common.Models.Planets
@inject HttpClient Http

<h1>Planets of the Solar System</h1>
@if (_getPlanetsModel == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>
        Some facts and figures on all the planets in the solar system in a
        Blazor app.
    </p>
    <h2>Todo</h2>
    <ul>
        <li>Form component</li>
        <li>Planet details in modal as component</li>
        <li>Admin page</li>
        <li>Create planet page</li>
        <li>Update planet page</li>
        <li>Delete planet page</li>
        <li>Update nav</li>
        <li>Fix height of planet cards</li>
        <li></li>
        <li></li>
    </ul>
    <div class="container-fluid">
        <div class="row">

            @foreach (var planet in _getPlanetsModel.Planets)
            {
                <div class="col-sm-3">
                    <Button Clicked="@ShowModal">
                        <PlanetCard Planet="@planet" />
                    </Button>
                </div>
            }

        </div>
    </div>

    <Modal @ref="modalRef">
        <ModalBackdrop/>
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle></ModalTitle>
                <CloseButton Clicked="@HideModal"/>
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit Placeholder="Enter name..."/>
                </Field>
                <Field>
                    <FieldLabel>Surname</FieldLabel>
                    <TextEdit Placeholder="Enter surname..."/>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}

@code {
    private GetPlanetsModel _getPlanetsModel;

    protected override async Task OnInitializedAsync()
    {
        _getPlanetsModel = await Http.GetFromJsonAsync<GetPlanetsModel>("api/v1/planets");
    }

    private Modal modalRef;

    private void ShowModal()
    {
        modalRef.Show();
    }

    private void HideModal()
    {
        modalRef.Hide();
    }

}