@using SolarSystem.Common.Models.Planets
<div class="card">
    <img src="@Planet.ImageUrl" class="card-img-top" alt="@Planet.Name">
    <div class="card-body">
      <h5 class="card-title">@Planet.Name</h5>
      <p class="card-text">  @Planet.Introduction</p>
    </div>
  </div>
@code {
    [Parameter] public GetPlanetModel Planet { get; set; }
}