@page "/Admin/Edit/{planetName}/{planetId}"
@using SolarSystem.Common.Models.Planet
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject IJSRuntime Js

<h1>Edit @_planet.Name</h1>
<Form ButtonText="Update planet" Planet="@_planet" OnValidSubmit="@EditPlanet"></Form>

@code {
    [Parameter]
    public string PlanetName { get; set; }
    
    [Parameter]
    public string PlanetId { get; set; }
    
    GetPlanetModel _planet = new();

    protected override async Task OnParametersSetAsync()
    {
        var planetId = new Guid(PlanetId);
        _planet = await Http.GetFromJsonAsync<GetPlanetModel>($"api/v1/planet/{planetId}");
    }

    async Task EditPlanet()
    {
        await Http.PutAsJsonAsync("api/v1/planet", _planet);
        await Js.InvokeVoidAsync("alert", $"Updated {_planet.Name} successfully!");
        UriHelper.NavigateTo("/Admin/Index");
    }
}